/* Подключение шрифта */
@font-face {
    font-family: "Tana Uncial SP";
    src: url('../fonts/TanaUncialSP.otf');
}

@font-face {
    font-family: "FourthReign-BorderDiamond";
    src: url('../fonts/FourthReign-BorderDiamond.otf');
}

@font-face {
    font-family: "FourthReign-Diamond";
    src: url('../fonts/FourthReign-Diamond.otf');
}

body {
    font-family: "FourthReign-Diamond";
    font-size: 1.5vw;
    line-height: 1.6;
    background-color: #eae7e7;
}

header {
    width: 98vw;
    background-color:rgb(32, 32, 32);
    color: #fff;
    padding-left: 2vw;
    vertical-align: top;
    margin-bottom: 2vw;
}

.header-div {
    display: flex; /* Используем Flexbox для выравнивания */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
}

.header-div__logo {
    width: 8vw;
    margin-right: 2vw;
    max-width: 150px;
}

.header-div__title {
    display: inline-block;
    color: white;
    
    font-size: 5vw;
    font-family: 'Tana Uncial SP';

    /* clamp ограничивает объект по размерам,
    первый аргумент -- минимальное значение
    второй аргумент -- динамическое значение
    третий аргумент -- максимальное значение */
    margin-top: clamp(0, 2vw, 15px);
    margin-bottom: clamp(0, 2vw, 15px);
}

main {
    min-height: 100vh;
    padding: 2vw 2vw 2vw 2vw;
    margin-bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Основной контент занимает 3 части, sidebar — 1 часть */
    gap: 3vw; /* Пробел между колонками */
    /* padding-left: 1vw; */
    padding-top: 1vw;
}

.first-column {
    background-color: #fff;
    padding: 3vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}

.section-introduction__title {
    font-family: "FourthReign-BorderDiamond";
    font-size: 3vw;
}

.section-introduction__text {
    text-indent: 3vw;
    color: #333;
}

.second-column {
    background-color: #ffffff;
    padding: 3vw;
    box-shadow: 0 0 2vw rgba(0, 0, 0, 0.1);
}

.source-color {
    font-size: 5vw;
    color: rgb(204, 59, 59);
}

.source-size {
    font-size: 2vw;
}

.section-introduction {
    margin-bottom: 3vw;
}

/* Стили для фото */
.photo {
    width: 40%;
    float: right;
    margin: 1.5vw;
}

/* Форматирование текста */
.tb{
    font-weight: 600;
}

footer {
    width: 100%;
    background-color:rgb(32, 32, 32);
    color: #fff;
    text-align: center;
    padding-top: 4vw;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 600;
    font-style: normal; 
}

.footer-div {
    padding-bottom: 4vw;
}


/* Эффект при наведении на ссылку */
.second-column     ul li a:hover {
    border-radius: 10%;
    background-color: #4b4b4b; /* Серый фон при наведении */
    color: #e0e0e0; /* Светлый цвет текста при наведении */
}

.contact{
    
  color: white;
  transition: 0.5s ease-in-out;
}
.contact:hover{
    color:rgb(248, 241, 153) ;
}

.perekur {
    width: 30vw;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
    }
}

@media (min-width: 1400px) {
    .container {
        grid-template-columns: 3fr 1fr; 
        /* Увеличение размеров первой коллонки для 
        устройств с широким размером экранов */
        padding-left: 0;
    }
}    
