/* Подключение шрифта */
@font-face {
    font-family: "Tana Uncial SP";
    src: url('../fonts/TanaUncialSP.otf');
}

header {
    width: 100%;
    background-color: black;
    padding-left: 2vw;
    vertical-align: top;
    margin-bottom: 2vw;
}

.header-div {
    display: flex; /* Используем Flexbox для выравнивания */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
}

.header-div__logo {
    width: 8vw;
    margin-right: 2vw;
    max-width: 150px;
}

.header-div__title {
    display: inline-block;
    color: white;
    /* clamp ограничивает объект по размерам,
    первый аргумент -- минимальное значение
    второй аргумент -- динамическое значение
    третий аргумент -- максимальное значение */
    font-size: clamp(30px, 8vw, 150px);
    font-family: 'Tana Uncial SP';

    margin-top: clamp(0, 2vw, 15px);
    margin-bottom: clamp(0, 2vw, 15px);
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr; /* Основной контент занимает 3 части, sidebar — 1 часть */
    gap: 3vw; /* Пробел между колонками */
    padding-left: 1vw;
    padding-top: 1vw;
}

.first-column {
    background-color: #fff;
    padding: 3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.second-column {
    background-color: #eee;
    padding: 3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-introduction {
    margin-bottom: 3vw;
}

/* Адаптация для мобильных устройств */
@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr; /* Одна колонка на маленьких экранах */
    }
}

@media (min-width: 1400px) {
    .container {
        grid-template-columns: 3fr 1fr; 
        /* Увеличение размеров первой коллонки для 
        устройств с широким размером экранов */
    }
}
