.section-yggdrasil-layout {
    width: 100%;
    aspect-ratio: 1/1; /* Устанавливает соотношение широты и высоты */
    background-image: url('../img/Yggdrasil.webp');
    background-size: contain; /* Устанавливает изображение так, чтобы оно не обрезалось */
    background-position: center; /* Располагает изображение по центру блока */
    background-repeat: no-repeat; /* Убирает повторы изображения */
 
    position: relative;
}

.section-yggdrasil-layout__world-button {
    position: absolute; /* Абсолютное позиционирование относительно
    родительского элемента, так как у родительского элемента position: relative */
    width: 11.7%;
    display: inline-block;
    background: #2EE59D;
    text-decoration: none;
    border: 0.3vw solid  ;
    border-radius: 50%; 
    box-shadow: 0 0 0.6vw 0.6vw #9f00fe inset, 0 0 0 0 #F137A6;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    letter-spacing: 0.3vw;
    color: white;
    transition: 0.5s ease-in-out;
}

.section-yggdrasil-layout__world-button:hover {
    box-shadow: 0 0 1vw 0 #3739f1 inset, 0 0 1vw 0.3vw #fffc00;
    color: #ffffff;
}

.asgard {
    width: 14%;
    left: 42.25%;
    top: 14.9%;
}

.midgard {
    width: 8.5%;
    left: 45.19%;
    top: 32.7%;
}

.alfheim {
    left: 18%;
    top: 34%;
}

.muspellheim {
    left: 70%;
    top: 34%;
}

.niflheim {
    width: 16%;
    left: 41.38%;
    top: 75.23%;
}

.jotunheim {
    left: 11.26%;
    top: 68.2%;
}

.vanaheim {
    left: 2%;
    top: 56%;
}

.helheim {
    left: 75.79%;
    top: 68.2%;
}

.svartalfheim {
    left: 85%;
    top: 56%;
}