.section-yggdrasil-layout {
    width: 100%;
    aspect-ratio: 1/1; /* Устанавливает соотношение широты и высоты */
    background-image: url('../img/Yggdrasil.webp');
    background-size: contain; /* Устанавливает изображение так, чтобы оно не обрезалось */
    background-position: center; /* Располагает изображение по центру блока */
    background-repeat: no-repeat; /* Убирает повторы изображения */
    position: relative;
}

.section-yggdrasil-layout__world-button {
    position: absolute; /* Позиционирование относительного нормального потока */
    width: 11.7%;
    display: inline-block;
    line-height: 45px;
    border-radius: 45px;
    background: #2EE59D;
    box-shadow: 0 5px 5px 5px rgba(46, 229, 157, .4);
    transition: .3s;
}

.section-yggdrasil-layout__world-button:hover {
    box-shadow: 0 10px 10px 10px rgba(46, 229, 157, .4);
}

.asgard {
    width: 14%;
    left: 42.7%;
    /* Так как в родительском элементе не указана высота в явном виде
    при попытке вертикального позиционирования через top и bottom ничего
    происходить не будет, для решения этой проблемы используется 
    функция translateY, позволяющая позиционировать элемент относительно
    y координаты в процентном соотношении */
    transform: translateY(106%);
}

.midgard {
    width: 8.5%;
    left: 45.5%;
    transform: translateY(390%);
}

.alfheim {
    left: 18%;
    transform: translateY(269%);
}

.muspellheim {
    left: 70%;
    transform: translateY(269%);
}

.niflheim {
    width: 16%;
    left: 41.68%;
    transform: translateY(475%);
}

.jotunheim {
    left: 11.66%;
    transform: translateY(590.4%);
}

.vanaheim {
    left: 2%;
    transform: translateY(483%);
}

.helheim {
    left: 76.17%;
    transform: translateY(590.4%);
}

.svartalfheim {
    left: 85%;
    transform: translateY(483%);
}
